@model IEnumerable<ShopTrueLife.Models.POJO.TrangSanPham>
@{
    ViewBag.Title = "Sản Phẩm Shop TrueLife";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    .auto-style1 {
        flex: 0 0 auto;
        width: 33.33333333%;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
</style>
<div class="row">
    <div class="col-md-3" style="background:#D9D9D9; height:270px; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; padding-top: 90px; padding-left:10%">
        <a style="color:#000000; font-size:35px;">Sản Phẩm</a>
        <br />
        <a style="color:#000000; font-size:medium">Trang Chủ</a> / <a style="color:#FA748F;font-size:medium">Sản Phẩm</a>
    </div>
    <div class="col-md-9" style="padding:0">
        <img src="~/Assets/img/gioiThieu.PNG" style="height:270px; width:100%" href="#" />
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">

        @*Thay đổi thành danh mục theo loại*@
        @Html.Action("DanhMucSanPhamHome","DanhMucSanPham")
        
        <br />
        <div class="list-group" style="border-radius:0">
            <ul class="list-group" style="border-radius:0">
                <li class="list-group-item active" style="background:#FA748F; border-color:#FA748F; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-weight:bold; text-align:center">LỌC THEO GIÁ</li>
                <li class="list-group-item">
                    <input id="Checkbox1" type="checkbox" /> Giá dưới 100.000đ
                </li>
                <li class="list-group-item">
                    <input id="Checkbox1" type="checkbox" /> Giá: 100.000đ ~ 900.000đ
                </li>
                <li class="list-group-item">
                    <input id="Checkbox1" type="checkbox" /> Giá trên 1.000.000đ
                </li>
            </ul>
        </div>
        <br />
        
    </div>
    <div class="col-md-8">
        <br />
        <div style="font-size:larger; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; text-align:center; font-weight:bold; font-size:30px">
            <a>TẤT CẢ SẢN PHẨM</a>
        </div>
        <br />
        <div style="background:#E8E0E0; height:1px"></div>
        <br />
        <div class="row">
            <div class="col-md-2" style="padding-left:5%; padding-top:5px">Tên sản phẩm:</div>
            <div class="col-md-3" style="padding: 0">
                <input class="form-control" type="text" name="ten" style="border-color:#FA748F; border-radius:10px; font-size:medium" />
            </div>
            <div class="col-md-2" style="padding-left: 5%; padding-top:5px">Giá sản phẩm:</div>
            <div class="col-md-3" style="padding: 0">
                <input class="form-control" type="text" name="ten" style="border-color:#FA748F; border-radius:10px" />
            </div>
            <div class="col-md-2" style="padding-left:5%">
                <input class="btn" type="submit" style="color:#ffffff; font-weight:bold; background:#FA748F;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; border-radius:10px" value="Lọc" />
            </div>
        </div>
        <br />
        <div style="background:#E8E0E0; height:1px"></div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.iGiaDaGiam == item.iGiaBan)
                {
                    <div class="col-4" style="margin-bottom:20px; width:32%; margin-left:10px">
                        <div class="card h-100 mb-1" style="background:#F1F1F1; ">
                            <img src="~/Assets/img/@item.sAnhBia" class="card-img-top" style="width:90%; height:200px; margin-left:13px; margin-top:20px" />
                            <div class="card-body">
                                <p class="card-title" style="font-weight:bold">@item.sTenSanPham</p>
                                <p class="card-title" style="color:#FA748F; font-weight:bold">Giá: @item.iGiaBan VNĐ</p>
                                <br />
                                <a class="btn" style="background:#FA748F; color:white; margin-left:60%; font-size:small" href="@Url.Action("ChiTietSanPham", "SanPham", new { @maSP = item.iID_SanPham, @gia = @item.iGiaDaGiam })">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-4" style="margin-bottom:20px; width:32%; margin-left:10px">
                        <div class="card h-100 mb-1" style="background:#F1F1F1; ">
                            <img src="~/Assets/img/@item.sAnhBia" class="card-img-top" style="width:90%; height:200px; margin-left:13px; margin-top:20px" />
                            <div class="card-body">
                                <p class="card-title" style="font-weight:bold">@item.sTenSanPham</p>
                                <p class="card-title" style="color:red; font-weight:bold">Giá gốc:<del> @item.iGiaBan VNĐ </del></p>
                                <p class="card-title" style="color:red; font-weight:bold">Giá giảm: @item.iGiaDaGiam VNĐ</p>
                                <br />
                                <a class="btn" style="background:#FA748F; color:white; margin-left:60%; font-size:small" href="@Url.Action("ChiTietSanPham", "SanPham", new { @maSP = item.iID_SanPham, @gia = @item.iGiaDaGiam })">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        @*Nhét sản phẩm vô đây nha*@

    </div>
    <div class="col-md-1"></div>
    <br />
</div>
<div class="row">
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</a><br />
        <a>Thắc mắc - Hỏi đáp</a><br />
        <a>Hướng dẫn mua hàng</a><br />
        <a>Đặt hàng & Thanh toán</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">THÔNG TIN LIÊN HỆ</a><br />
        <a>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú </a><br />
        <a>Hotline: 012345678 - 098765432</a><br />
        <a>Tư vấn bán hàng từ(8h - 20h thứ 2 - chủ nhật)</a><br />
    </div>
    <div class="auto-style1" style="background:#FA748F; color:#ffffff">
        <br />
        <a style="font-weight:bold">KẾT NỐI VỚI CHÚNG TÔI</a><br />
        <a></a><br />
        <a href="https://www.facebook.com/"><img src="~/Assets/img/fb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.instagram.com/"><img src="~/Assets/img/IG.jpg" style="width:40px; height:40px;" href="#" /></a>
        <a href="https://www.twitter.com/"><img src="~/Assets/img/wb.jpg" style="width:40px; height:40px;" href="#" /></a>
        <br />
        <a></a><br />
    </div>
</div>

